<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page_2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 34);
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(19, 19, 44);
        }




        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {
            color: rgb(168, 132, 235);
            font-size: 1.02rem;
        }

        .left {
            font-size: 2rem;
        }


        .topic-heading {
            text-align: center;
            font-size: 3rem;
            margin-top: 100px;
        }


        .rectangles-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 20px;
        }

        .sticky-nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            /* You can adjust the z-index as needed */
        }

        .rectangle {
            flex-basis: 98%;
            background-color:rgb(0, 0, 34);
            color: white;
            font-size: 1.25rem;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            overflow: auto;
            max-height: 600px;
            border: 2px solid rgb(232, 232, 236);
        }
        .rectangle_heading{
            background-color: rgb(125, 125, 207);
            font-size: 1.25rem;
            padding: 10px;
            text-align: center;
            border-radius: 60px;
            flex-basis: 38%;
            margin-bottom: 20px;
            margin-left: 520px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="sticky-nav">
            <div class="left">
                Sentimental Analysis
            </div>
            <div class="right"></div>
            <ul>
                <li> <a href="{% url 'home' %}">Home</li></a>
        <li> <a href="{% url 'about-us' %}">About</li></a>
        <li> <a href="{% url 'analyse' %}">Analyse</li></a>
        <li> <a href="{% url 'trends' %}">Trending</li></a>
                <li> <a href="{% url 'contact-us'%}">Contact Us</li></a>
            </ul>
        </nav>
        <div class="topic-heading">Your Topic Heading Goes Here</div>
    </header>
    <main>
        <div class="rectangles-container">
            <div class="rectangle_heading">
                <h2>Positive Comments</h2>
            </div>
            <div class="rectangle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.</p>
            </div>
            <div class="rectangle_heading">
                <h2>Negative Comments</h2>
            </div>
            <div class="rectangle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodiLorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ad quod. Minus sunt itaque cupiditate
                    soluta repudiandae molestiae ipsam aspernatur libero, voluptas expedita. Similique ab fuga numquam
                    odio illo commodi.</p>
            </div>
        </div>
    </main>
</body>

</html>